<h1 id="notice"><%= notice %></h1>

<p>
  <h1>
    Name:
    <small><%= @folder.name %></small>
  </h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @folder.description %>
</p>

<h3>Link List</h3>
<%= render 'links/linktable' %>

<br>

<div class="panel panel-default" id="link-edit-panel">
  <div class="panel-body">
    <h3><small>Add a new link</small></h3>
    <%= render 'links/flform' %>
  </div>
</div>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
