<h1 id="notice"><%= notice %></h1>

<p>
  <h1>
    Name:
    <small><%= @folder.name %></small>
  </h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @folder.description %>
</p>

<h1><small>Add a new link</small></h1>
<%= render 'links/flform' %>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
